// orverride
.field {
  &:not(:last-child) {
    margin-bottom: 1rem
  }
}

.checkbox {
  input {
    margin-right: .5em;
  }
}

.radio {
  input {
    margin-right: .25em;
  }
  & + .radio {
    @include ltr-property("margin", .75em, false);
  }
}
